@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}



html {
  scroll-behavior: smooth;
}

.h {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0.5px 0.5px 0.5px 0.5px lightblue;
  position: fixed;
  z-index: 2;
}

.head3{
  display:flex;
  flex-direction:row;
  /* background-color:red; */
  height:4rem;
  align-items:center;
  font-family: 'Open Sans', sans-serif;
  margin-left:15vw;
  /* background-color:red; */

}
.nav{
  margin-left:45vw;
}
.h1 {
  width: 3.3em;
  height: 2.7em;
  margin-left: 10vw;
}

.h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  color: #0E2431;
  margin-left: 0.5vw;
  font-weight: bolder;
  transition: ease-in-out 0.4s;



}

.h2:hover {
  color: #C07210;
  cursor: pointer;
}

.h2line {
  border-bottom: 1px solid #011AFF;
  color: #011AFF;
}

.h3 {
  /* margin-left: 25vw; */
  font-size: 1.1em;
}

.h3:hover {
  color: #011AFF;
}

.h4 {
  font-size: 1.1em;
  margin-left: 3vw;
}

.h4:hover {
  color: #011AFF;
}


.hello {
  text-decoration: none;
  color: white;
}

.u {
  height: 600px;
  background-image: url("404.gif");
  width: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.u1 {
  width: 60vw;
  /* background-color:blue; */
  height: 600px;
  display: flex;
  flex-direction: column;
}

.u2 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  margin-top: 1.7em;
  width: 60vw;
  text-align: center;
}

.u3 {
  font-size: 2em;
  margin-top: 7em;
}

.u4 {
  font-size: 1em;
  margin-top: 0em;
}

.u5 {
  height: 3em;
  width: 11em;
  background-color: #FFE600;
  color: black;
  margin-top: 1em;
  margin-left: 22.5vw;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.u5:hover {
  background-color: #7303A7;
  color: white;
}

.z {
  height: 300px;
  width: 100%;
  background-color:#00012B;
  display: flex;
  flex-direction: row;
}

.z1 {
  width: 23vw;
  background-color: #00012B;
  height: 18em;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: white;

}

.z2 {
  margin-left: 0.7vw;
  font-size: 1.5em;
  margin-top: 2em;
}

.z3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
  margin-top: 2em;
  margin-left: 0.7vw;
  color: #CCCCCC;
}

.z4 {
  margin-left: 3.7vw;
  width: 25vw;
  background-color: #00012B;
  height: 18em;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.z5 {
  height: 1em;
  width: 1em;

}

.z6 {
  margin-left: 0.5vw;
}

.z7 {

  /* background-color:white; */
   width: 25vw;
  height: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: ease-in-out 0.2s;
  margin-top: 1em;
  margin-left: 0.5vw;
}

.z7:hover {
  color: #FFAE00;
}

.z8 {
  margin-top: 0.4em;
}

.z19 {
  margin-left: 5vw;

}

.z20 {
  color: #CCCCCC;
}

.design {
  height: 80px;
  width: 100%;
  background-color: #00012B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.design1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00012B;
  width: 80vw;
  height: 3em;
  border-top: 0.1vh solid #CCCCCC;
  /* background-color:white; */
}

.design2 {
  display: flex;
  flex-direction: row;
  background-color: #00012B;
}

.design3 {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.design4 {
  height: 1.5em;
  width: 1.8em;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
   /* background-color:white; */
}

.design5 {
  font-family: 'Poppins', sans-serif;
  color: #FFAE00;
  margin-left: 0.3vw;
}

.items {
  width: 23vw;

  /* height: 6vh; */
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.items1 {
  width: 2.5em;
  margin-left: 1vw;
}

.items2 {
  margin-left: 0.5vw;
}

.hello {
  text-decoration: none;
  color: white;
}
@media screen and (max-width:1000px){
  .h2{
    margin-left:0vw;
  }
  
  .headent{
    border-radius:16px;
    height:50em;
    width:25vw;
    background-color:white;
    /* flex-direction:column; */
    margin-left:40vw;

  }
  .nav2{
    margin-left:2vw;
  }
  .headlock{
    flex-direction:column;
   margin-top:20em;

    }
  .u5 {
    
    margin-left: 18.5vw;
  }
}
@media screen and (max-width:750px){

  .nav {
    margin-left: 35vw;
}
.nav2{
  margin-left: 3vw;

}
}
@media screen and (max-width:650px){
  .u5 {
      margin-left: 12.5vw;
  }
  .u3 {
      font-size: 1.5em;
      margin-top: 10em;
  }
  .u4 {
    font-size: 0.7em;
  }
  .h2 {

    font-size: 1em;
  }
     .nav {
        margin-left: 30vw;
    }
    .nav2{
      margin-left: 4vw;

    }
    .headent {

      width: 39vw;

      margin-left: 25vw;
  }

.z {
height: 800px;
flex-direction:column;

}
.z1{
height: 15em;
}
.z4 {
margin-left: 9.7vw;

/* background-color: red; */
height: 15em;
}
.z19{
margin-left: 10vw;

  width: 31vw;
}
.z7 {

width: 46vw;
}
}
@media screen and (max-width: 500px){


.nav {
  margin-left: 20vw;
}
.nav2{
  margin-left: 4vw;

}
.headent {

  width: 39vw;

  margin-left: 14vw;
}
}
@media screen and (max-width: 450px){
  .u3 {
      font-size: 1em;
      margin-top: 16em;
  }
  .u5 {
      margin-left: 8.5vw;
  }


.nav {
  margin-left: 15vw;
}
.nav2{
  margin-left: 4vw;

}
.headent {
  width: 39vw;
  margin-left: 9vw;
}
}
@media screen and (max-width: 350px){
  
  .nav {
    margin-left: 5vw;
}
.headent {
  width: 39vw;
  margin-left: 3vw;
}
  .u5 {
      margin-left: 2.5vw;
  }
  .u4 {
    font-size: 0.5em;
  }
  .design {

    font-size: 0.8em;
  }
}